// 文本颜色定义规范
$pk_text_yellow:#FFC800;
$pk_text_blue:#4a90e2;
$pk_text_red:#DE4F45;
$pk_text_green:#009A61;

$pk_text_primary:#323232;//多用于标题
$pk_text_regular:#666666; //多用于图标
$pk_text_secondary:#999999; //多用于时间 
$pk_text_prominent:#5B6A92; //多用于名字突出
$pk_text_rare:#cccccc; 
$pk_text_frame:#e5e5e5;
$pk_text_line:#f2f2f2; 
$pk_text_gray:#f7f7f7;

// border颜色定义规范
$pk_bd_line:#f2f2f2;
$pk_bd_gray:#f7f7f7;


// bg背景定义规范
$pk_bg_yellow:#FFC800;
$pk_bg_blue:#4A90E2;
$pk_bg_red:#DE4F45;
$pk_bg_green:#009A61;

$pk_bg_primary:#323232;//多用于标题
$pk_bg_regular:#666666; //多用于图标
$pk_bg_secondary:#999999; //多用于时间 
$pk_bg_prominent:#5B6A92; //多用于名字突出
$pk_bg_rare:#cccccc; 
$pk_bg_frame:#e5e5e5;
$pk_bg_line:#f2f2f2; 
$pk_bg_gray:#f7f7f7;

// button按钮定义规范
$pk_btn_yellow:#FFC800;
$pk_btn_blue:#4A90E2;
$pk_btn_red:#DE4F45;
$pk_btn_green:#009A61;

$pk_btn_primary:#323232;
$pk_btn_regular:#666666;
$pk_btn_secondary:#999999; 
$pk_btn_prominent:#5B6A92;
$pk_btn_rare:#cccccc; 
$pk_btn_frame:#e5e5e5;
$pk_btn_line:#f2f2f2; 
$pk_btn_gray:#f7f7f7;

//font-size
$pk_text_xs:12px;
$pk_text_sm:14px;
$pk_text_default:15px;
$pk_text_lg:18px;
$pk_text_xl:20px;
$pk_text_xxl:24px;
