// 父元素的居中显示
.pk-position-center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.pk-flex-box{
    display: flex;
    &.algin-center{
        align-items: center;
    }
    &-fx{
        flex:1;
    }
    &-sk{
        flex-shrink: 0;
        &.baseline{
            align-self: baseline;
        }
    }
}
